body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

header {
    z-index: 5;
}

.navbar-brand, h1, h2, .nav-link {
    font-family: 'Special Elite';
    z-index: 1;
}
em {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-style: normal;
}

.navbar-brand::before {
    content: url(img/photo.png);
    position: absolute;
    top: 5px;
    left: 6px;
    z-index: -1;
}

.jumbotron {
    background-image: url(img/jumbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-bg {
    background-color: rgb(44 41 42 / 52%);
}
.jumbotron-title {
    font-size: 1.5rem;
}
.card, .radius {
    border-radius: 10px;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

img{
    width: 100%;
    border-radius: 10px;
}

.choose-opt, .option {
    font-size: 0.9rem;
}

.cart_icon::after {
    content: '\f218';
    font-family: 'Font Awesome 5 free';
    color: #b490f7;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 5px;
}

.hidden {
    display: none;
}

.fadeAlert {
    -webkit-animation: fade-in 4s 1 cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 4s 1 cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    position: absolute;
    width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 7%;
    z-index: 1;
}

@-webkit-keyframes fade-in {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    5% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    95% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
  }

  @keyframes fade-in {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    5% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    95% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
  }

.trash {
    border-radius: 50%;
    margin: 0 20px;
}

.bg {
    max-width: 700px;
    width: 100%;
    border: none;
    border-radius: 15px;
}

.magic-box{
    width: 200px;
    margin: 30px;
}